<div class="page" (click)="onClick()">
  <div class="menus" [class.clicked]="menuClicked" (click)="onClickMenu($event)">
    <div class="item">
      <img src="/assets/img/favicon.ico" />
    </div>
    <div class="item">
      <a (click)="onHome()">
        文件
      </a>
      <div class="dropdown">
        <div class="item">
          <a (click)="onMenu('new')">
            新建文件
          </a>
        </div>
        <div class="item" (mouseenter)="showFigure = true" (mouseleave)="onLeaveFigure()">
          <a>
            打开云端文件...
            <i class="iconfont icon-angle-right"></i>
          </a>
          <div class="dropdown pt15" [class.block]="showFigure">
            <figure>
              <div class="mb20">
                <div class="title">推荐图文</div>
                <div class="flex wrap">
                  <a
                    class="topo"
                    *ngFor="let item of list.recommend"
                    [title]="item.name"
                    routerLink="/"
                    [queryParams]="{ id: item.id, fileId: item.fileId }"
                  >
                    <img [appImgAuthSrc]="item.image" />
                  </a>
                </div>
              </div>
              <div *ngIf="list.recently.length" class="mb20">
                <div class="title">最近使用</div>
                <div class="flex wrap">
                  <a
                    class="topo"
                    *ngFor="let item of list.recently"
                    [title]="item.name"
                    routerLink="/"
                    [queryParams]="{ id: item.id, fileId: item.fileId }"
                  >
                    <img [appImgAuthSrc]="item.image" />
                  </a>
                </div>
              </div>

              <div *ngIf="list.created.length" class="mb20">
                <div class="title">最近创建</div>
                <div class="flex wrap">
                  <a
                    class="topo"
                    *ngFor="let item of list.created"
                    [title]="item.name"
                    routerLink="/"
                    [queryParams]="{ id: item.id, fileId: item.fileId }"
                  >
                    <img [appImgAuthSrc]="item.image" />
                  </a>
                </div>
              </div>
            </figure>
            <div class="item line"></div>
            <div class="item">
              <a routerLink="/hot">
                更多...
              </a>
            </div>
          </div>
        </div>
        <div class="item">
          <a (click)="onMenu('open')">
            打开本地文件...
          </a>
        </div>
        <div class="item line"></div>
        <div [class.disabled]="!editMode">
          <div class="item">
            <a (click)="onMenu('save')">
              保存到云端
            </a>
          </div>
          <div class="item">
            <a (click)="onMenu('saveAs')">
              另存为...（在云端）
            </a>
          </div>
          <div class="item">
            <a (click)="onMenu('down')">
              保存到本地
            </a>
          </div>
          <div class="item line"></div>
          <div class="item">
            <a (click)="onMenu('downPng')">
              下载PNG
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <a>编辑</a>
      <div class="dropdown" [class.disabled]="!editMode">
        <div class="item">
          <a (click)="onMenu('undo')">
            撤消
            <span class="ml50">Ctrl + Z</span>
          </a>
        </div>
        <div class="item">
          <a (click)="onMenu('redo')">
            恢复
            <span class="ml50">Ctrl + Shift+ Z</span>
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a (click)="onMenu('cut')">
            剪切
            <span class="ml50">Ctrl + X</span>
          </a>
        </div>
        <div class="item">
          <a (click)="onMenu('copy')">
            复制
            <span class="ml50">Ctrl + C</span>
          </a>
        </div>
        <div class="item">
          <a (click)="onMenu('parse')">
            粘贴
            <span class="ml50">Ctrl + V</span>
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <a>查看</a>
      <div class="dropdown">
        <div class="item">
          <a (click)="blank = true">
            欢迎推荐图文
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a href="http://le5le.com" target="_blank">
            更多
          </a>
        </div>
      </div>
    </div>
    <div class="item">
      <a>社区</a>
      <div class="dropdown">
        <div class="item">
          <a routerLink="/hot">
            热门图文
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a>
            咨询与建议
          </a>
        </div>
        <div class="item">
          <a>
            开源（GitHub）
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a *ngIf="file.id" (click)="onMenu('share')">
            分享
          </a>
          <div class="gray ml15" *ngIf="!file.id">分享</div>
        </div>
      </div>
    </div>
    <div class="item">
      <a>帮助</a>
      <div class="dropdown">
        <div class="item">
          <a>
            欢迎使用
          </a>
        </div>
        <div class="item">
          <a>
            API开发教程
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a (click)="showLicense = true">
            许可与声明
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a (click)="showHelp = true">
            资助与加入
          </a>
        </div>
        <div class="item line"></div>
        <div class="item">
          <a (click)="showAbout = true">
            关于
          </a>
        </div>
      </div>
    </div>
    <div class="full text-center" *ngIf="editMode">
      <form
        class="inline"
        [class.hidden]="!editFilename"
        #myForm="ngForm"
        (ngSubmit)="onSubmit(myForm.invalid)"
        [uiTouchForm]="myForm"
        (click)="$event.stopPropagation()"
      >
        <input name="filename" #filenameInput class="input" [(ngModel)]="filename" required />
      </form>
      <div class="inline" *ngIf="!editFilename" (dblclick)="onEditFile(filenameInput)" title="双击修改">
        {{ filename || '空白文件' }}
      </div>
    </div>
    <div class="full text-center" *ngIf="!editMode"></div>
    <div class="flex" [class.disabled]="!editMode">
      <div *ngIf="!locked" class="item" (click)="locked = !locked; onMenu('lock', true)" title="锁定">
        <a>
          <i class="iconfont icon-unlock"></i>
        </a>
      </div>
      <div *ngIf="locked" class="item" (click)="locked = !locked; onMenu('lock', false)" title="解锁">
        <a>
          <i class="iconfont icon-lock"></i>
        </a>
      </div>
      <div class="item" (click)="onMenu('save')" title="保存到云端">
        <a>
          <i class="iconfont icon-upload"></i>
        </a>
      </div>
      <div class="item" title="保存到本地">
        <a (click)="onMenu('down')">
          <i class="iconfont icon-download"></i>
        </a>
      </div>
      <div class="item" title="另存为图片">
        <a (click)="onMenu('downPng')">
          <i class="iconfont icon-pic"></i>
        </a>
      </div>
      <div class="item" [class.disabled]="!file.id" [title]="file.id && file.shared ? '已分享，点击取消' : '分享'">
        <a (click)="onMenu('share')">
          <i class="iconfont icon-share" [class.primary]="file.id && file.shared"></i>
        </a>
      </div>
    </div>
    <div class="item ml20" title="热门图文">
      <a routerLink="/hot">
        <i class="iconfont icon-fly"></i>
      </a>
    </div>
    <div class="flex ph20" *ngIf="!user">
      <div class="item">
        <a (click)="onSignup()">注册</a>
      </div>
      <div class="gray">/</div>
      <div class="item">
        <a (click)="onLogin()">登录</a>
      </div>
    </div>
    <div class="flex ph20" *ngIf="user">
      <div class="item">
        <a [href]="urls.account" class="flex middle">
          <ui-avatar
            class="mr5"
            [letters]="user.usernamePinyin"
            [img]="user.avatarUrl"
            [colors]="['#ff4d4f']"
          ></ui-avatar>
          {{ user.username }}
          <i class="iconfont icon-angle-down"></i>
        </a>
        <div class="dropdown right">
          <div class="item"><a [href]="urls.account" target="_blank">个人中心</a></div>
          <div class="item line"></div>
          <div class="item"><a routerLink="/user/home">我的文件</a></div>
          <div class="item"><a routerLink="/user/favorite">我的收藏</a></div>
          <div class="item line"></div>
          <div class="item"><a (click)="onSignout()">退出</a></div>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
</div>

<img src="/assets/img/logo.png" hidden="hidden" />

<div class="modal" *ngIf="blank">
  <div class="modal-content" style="max-height: 6.8rem;width: 9rem">
    <div class="modal-header pointer" uiDivMove [isHead]="true">
      <div class="caption">欢迎使用</div>
      <i class="fr iconfont icon-close" (click)="blank = null"></i>
    </div>

    <div class="modal-body">
      <figure>
        <div class="mb20">
          <div class="title">推荐图文</div>
          <div class="flex wrap">
            <a
              class="topo"
              *ngFor="let item of list.recommend"
              [title]="item.name"
              routerLink="/"
              [queryParams]="{ id: item.id, fileId: item.fileId }"
              (click)="blank = null"
            >
              <img [appImgAuthSrc]="item.image" />
            </a>
          </div>
        </div>
        <div *ngIf="list.recently.length" class="mb20">
          <div class="title">最近使用</div>
          <div class="flex wrap">
            <a
              class="topo"
              *ngFor="let item of list.recently"
              [title]="item.name"
              routerLink="/"
              [queryParams]="{ id: item.id, fileId: item.fileId }"
              (click)="blank = null"
            >
              <img [appImgAuthSrc]="item.image" />
            </a>
          </div>
        </div>

        <div *ngIf="list.created.length" class="mb20">
          <div class="title">最近创建</div>
          <div class="flex wrap">
            <a
              class="topo"
              *ngFor="let item of list.created"
              [title]="item.name"
              routerLink="/"
              [queryParams]="{ id: item.id, fileId: item.fileId }"
              (click)="blank = null"
            >
              <img [appImgAuthSrc]="item.image" />
            </a>
          </div>
        </div>
      </figure>
    </div>
    <div class="modal-footer flex">
      <div class="full">
        <label class="checkbox">
          <input name="disableStart" type="checkbox" [(ngModel)]="disableStartDlg" (change)="onChangeDisableStart()" />
          <span>不再显示</span>
        </label>
      </div>
      <a style="font-size: .14rem;" class="mr15">
        <i class="iconfont icon-angle-right"></i>
        我的文件
      </a>
      <button type="button" class="button mr15" (click)="onMenu('open')">打开本地文件...</button>
      <button type="button" class="button" (click)="blank = null">关闭</button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="showLicense">
  <div class="modal-content">
    <div class="modal-header pointer" uiDivMove [isHead]="true">
      <div class="caption">许可与声明</div>
      <i class="fr iconfont icon-close" (click)="showLicense = null"></i>
    </div>
    <div class="modal-body">
      <p>本画图工具开源，支持MIT协议。希望大家一起参与维护！</p>
      <p>所有权和解释权归le5le.com和开发者Alsmile所有！</p>
      <p>@2019 le5le.com</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="button" (click)="showLicense = null">确定</button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="showHelp">
  <div class="modal-content">
    <div class="modal-header pointer" uiDivMove [isHead]="true">
      <div class="caption">资助与加入</div>
      <i class="fr iconfont icon-close" (click)="showHelp = null"></i>
    </div>
    <div class="modal-body">
      <li>个人开发不易，放弃了周末个人生活，卸载了手游，利用有限的周末时间开发！</li>
      <li>
        热烈欢迎和期待大家一起参与，联系：
        <div class="ml30">邮箱：alsmile123@qq.com</div>
        <div class="ml30">微信：alsmile123</div>
      </li>
      <li>个人购买云服务器资源拮据，CPU、内存、磁盘、网络都很小，在线用户将有限：</li>
      <div class="text-center mt10">
        <div class="gray">赏五毛</div>
        <img class="mt5" src="/assets/img/wechatPay.png" width="120" />
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="button" (click)="showHelp = null">确定</button>
    </div>
  </div>
</div>

<div class="modal" *ngIf="showAbout">
  <div class="modal-content">
    <div class="modal-header pointer" uiDivMove [isHead]="true">
      <div class="caption">关于</div>
      <i class="fr iconfont icon-close" (click)="showAbout = null"></i>
    </div>
    <div class="modal-body">
      <p>本产品属于个人作品，利用业余周末时间开发，精力有限，但会一直继续完善，做的更好！</p>
      <p>欢迎有任何问题或建议请联系：</p>
      <p>邮箱：alsmile123@qq.com</p>
      <p>微信：alsmile123</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="button" (click)="showAbout = null">确定</button>
    </div>
  </div>
</div>
