@import 'src/variables';
@import '~le5le-ui/variables';

$color-border: #ddd;

:host {
  display: block;
  background-color: #e7e7e7;
  width: 100vw;
  height: 100%;
  padding: 0 0.3rem;
  overflow: auto;
}

.nav {
  margin: 0.2rem 0 0.15rem 0;
}

.gray {
  color: #aaa;
}

td {
  img {
    height: 1rem;
  }
}

textarea {
  &.input {
    min-width: 0.3rem;
    width: 100%;
    max-width: 100%;
    padding: 0.02rem 0.05rem;
    resize: vertical;
  }
}
