@import 'src/variables';
@import '~le5le-ui/variables';

.group {
  padding: 0.05rem 0.15rem 0.15rem 0.15rem;
  border-bottom: 1px solid #ccc;

  .grid > div {
    .input {
      width: 100%;
    }

    ui-select {
      width: 0.95rem;
    }
  }

  .icon-item {
    line-height: 1;
  }

  svg {
    width: 0.8rem;
    height: 0.18rem;
    position: relative;
    top: 0.04rem;
  }

  .dropdown {
    .icon-item:hover {
      background: $color-primary;
    }
  }

  .input.color {
    display: flex;
    i {
      display: inline-block;
      width: 0.12rem;
      height: 0.12rem;
      border: 1px solid $color-border;
      margin-top: 0.08rem;
    }

    input {
      width: 100%;
      border: none;
      padding: 0 0 0 0.05rem;
    }
  }

  .input-line {
    margin-bottom: 0.05rem;
    > label {
      width: 0.6rem;
      margin: 0;
    }
    .input {
      width: 100%;
      font-family: Arial;
    }

    .icon {
      height: 0.3rem;
      line-height: 1;

      .topology {
        font-size: 0.3rem;
      }
    }
  }
}

.blank {
  border: 1px solid #ccc;
  width: 0.3rem;
  height: 0.3rem;
  background: url(/assets/img/bk-parttern.png);
  opacity: 0.5;
}

:host {
  form {
    min-height: calc(100vh - 1rem);
  }

  ui-slider {
    overflow: hidden;
    position: relative;
    top: 0.05rem;
    padding: 0 0.1rem 0 0.07rem;
  }
}

.tools {
  position: fixed;
  background: #fff;
  right: 2.4rem;
  top: 0.4rem;
  bottom: 0;
  width: 3.2rem;
  border: 1px solid #ddd;

  .title {
    padding: 0.05rem 0.2rem;
    line-height: 0.3rem;
    border-bottom: 1px solid #eee;

    .iconfont {
      font-weight: normal;
    }
  }

  .body {
    display: flex;
    flex-wrap: wrap;
    padding: 0.1rem;
    height: calc(100% - 0.4rem);
    overflow: auto;

    .icon {
      width: 0.7rem;
      height: 0.7rem;
      display: inline-block;
      text-align: center;
      padding: 0.1rem;
      margin-bottom: 0.01rem;
      border: 1px solid transparent;

      i {
        font-size: 0.4rem;
        line-height: 1;
      }

      &:hover {
        border-color: $color-primary;
      }

      .blank {
        margin: 0.1rem auto;
      }
    }

    .active {
      border: 1px solid $color-primary;
      background: $color-primary;
      color: #fff;
    }
  }
}

.icon-help-circle {
  font-size: 0.14rem;
}
