@import 'variables';
@import 'node_modules/le5le-ui/index';

.headline {
  font-size: 0.24rem;
  color: $color-title;
}

.sub-headline,
.sub-headline i {
  font-size: 0.18rem;
  color: $color-title;
}

.title {
  color: $color-title;
  font-weight: 600;
}

.title.success {
  color: $color-success;
}

.popup-title {
  font-size: 0.14rem;
  font-weight: 700;
}

.notice .icon-close {
  font-size: 0.1rem;
  top: 0.08rem;
}

.notice .body > .icon::before {
  top: 0.02rem;
}

.page .menus {
  .ui-avatar {
    width: 0.24rem;
    line-height: 0.22rem;
    height: 0.24rem;
  }
}

app-hot .topo .ui-avatar,
app-user-favorite .topo .ui-avatar {
  width: 0.2rem;
  line-height: 0.2rem;
  height: 0.2rem;
  position: relative;
  top: 0.06rem;
}

a:hover {
  text-decoration: underline;
}

.nav a {
  &:hover {
    text-decoration: none;
    color: #096dd9 !important;
  }
}

.page .pagination .buttons > a.active {
  background-color: $color-primary !important;
  border-color: $color-primary !important;
}

.pagination {
  .buttons > a {
    &:first-child {
      border-top-left-radius: 0.02rem !important;
      border-bottom-left-radius: 0.02rem !important;
    }
    &:last-child {
      border-top-right-radius: 0.02rem !important;
      border-bottom-right-radius: 0.02rem !important;
    }
  }

  .input {
    min-height: 0.26rem;
  }

  .flex.middle.full {
    height: 0.28rem;
  }
}

.ui-slider {
  .max,
  .min {
    border-color: $color-primary !important;
  }
  .bk {
    background: $color-primary !important;
  }
}

.page .color-picker {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
  border: none;
  overflow: hidden;

  .cursor {
    width: 12px;
    height: 12px;
    border: 1px solid #fff;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.3);
  }

  .hue-alpha {
    flex-direction: initial;
    width: 100%;
    padding: 0 0.05rem;

    .cursor {
      background: #fff;
    }
  }

  .box {
    flex-direction: initial;
    border: none !important;
  }

  .left {
    padding: 8px;
  }

  .selected-color-background,
  .selected-color {
    width: 32px;
    height: 32px;
    top: 8px;
  }

  .hue {
    height: 12px;
    margin-bottom: 10px;
  }

  .alpha {
    height: 12px;
  }

  .hex-text,
  .rgba-text,
  .hsla-text {
    .box {
      width: initial;
      padding: 0 24px 0 8px;

      input {
        width: initial;
        outline: none;
        border: 1px solid $color-input-border;
        box-sizing: border-box;
        background-color: #fff;
        border-radius: $input-border-radius;
      }
    }
  }

  .type-policy {
    top: 210px;
  }

  .preset-area {
    padding: 0;

    hr {
      border-top: 1px;
    }

    .preset-label {
      display: none;
    }

    & > div {
      display: flex;
      flex-wrap: wrap;
      padding: 10px;

      .preset-color {
        width: 14px;
        height: 14px;
        border-radius: 3px;
        border: 1px solid #eee;
        margin: 5px;
      }
    }
  }

  .arrow.arrow-left,
  .arrow.arrow-left-bottom,
  .arrow.arrow-bottom-left {
    top: 0;
    right: -20px;
    border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ccc;
  }
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar {
  width: 0.1rem;
  height: 0.1rem;
  background: #fff;
}

/*滚动条里面小方块*/
::-webkit-scrollbar-thumb {
  border-radius: 0.05rem;
  background: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background: #aaa;
}
