// logo color
// #f90  #fa8c16

$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
  'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol' !default;
// $font-size: 0.14rem !default;
$color: #314659 !default;
$color-title: #0d1a26 !default;
$color-desc: #777 !default;
$color-gray: #ccc !default;

$html-background: #fff !default;
$color-primary: #1890ff !default;
$color-primary-hover: #096dd9 !default;
$color-primary-disabled: #bae7ff !default;
$color-success: #52c41a !default;
$color-success-hover: #3fad09 !default;
$color-success-disabled: #c6ebb4 !default;
$color-warning: #faad14 !default;
$color-warning-hover: #d9a116 !default;
$color-warning-disabled: #fff6dd !default;
$color-error: #f50000 !default;
$color-error-hover: #f00 !default;
$color-error-disabled: #ffc2c5 !default;

$color-url: #1890ff !default;
$color-url-hover: #1890ff !default;
$color-border: #d9d9d9 !default;
$color-sub-border: #f3f3f3 !default;
$color-input-border: #d9d9d9 !default;
$color-input-border-hover: #1890ff !default;
$color-input-disabled: #f3f4f5 !default;
$input-border-radius: 0.02rem !default;

$color-placeholder: #ccc !default;
$color-lightgray: #d9d9d9 !default;
$color-button: #314659 !default;
$color-button-hover: #0d1a26 !default;
$color-button-disabled: #ccc !default;
$color-button-border-disabled: #d9d9d9 !default;
$color-button-border: #ccc !default;
$color-button-border-hover: #8c8c8c !default;

$color-td: #f3f3f3 !default;
$color-th: #8c8c8c !default;

$header-background-color: #333 !default;
$tooltip-background-color: #333 !default;

$notice-input-color: #314659 !default;
