<div class="flex">
  <div class="tools">
    <div *ngFor="let item of tools" class="mb20">
      <div class="title">{{ item.group }}</div>
      <div class="buttons">
        <a
          *ngFor="let button of item.children"
          [title]="button.name"
          [draggable]="button.data"
          (dragstart)="onDrag($event, button)"
        >
          <i class="iconfont {{ button.icon }}"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="full" #workspace></div>
  <div class="props">
    <div class="pv5">
      <div *ngIf="!selected">
        <div class="title">欢迎使用le5le-topology！</div>
        <div class="ph15 mt10">
          便捷、开放、可扩展、云存储、社区等方式快速的创建微服务拓扑图、微服务流量图、软件项目设计图、流程图、活动图、时序图、类图、甚至UML各种图。
          <br /><br />
          更多绘图，自由定义，我们定义了框架和实现主流程。推荐以npm中间件的方式分享，让我们大家人人都可以成为设计师！
          <br />
          <br />
          <a>使用教程</a><br />
          <a>API开发教程</a><br />
          <a>联系我们</a>
        </div>
        <div class="title mt20">[Todo] 未来规划</div>
        <ul class="ml30 mb20 mt10">
          <li>线的移动等功能</li>
          <li>动画</li>
          <li>编辑/只读模式</li>
          <li>流程图</li>
          <li>活动图</li>
          <li>类图</li>
          <li>官网</li>
          <li>使用文档</li>
          <li>API开发文档</li>
          <li>社区与分享</li>
        </ul>
      </div>
      <div *ngIf="selected">
        <app-props [props]="selected" (ok)="onChangeProps($event)"></app-props>
      </div>
    </div>
  </div>
</div>
