@import 'src/variables';
@import '~le5le-ui/variables';

$head-height: 0.4rem;

.page {
  height: 100vh;
  overflow: hidden;

  .menus {
    height: $head-height;
    line-height: $head-height;
    background: #f8f8f8;
    display: flex;

    img {
      height: 0.24rem;
      margin: 0.08rem 0.1rem;
    }

    a {
      color: $color;
      padding: 0 0.1rem;
    }
  }

  .body {
    display: flex;
    height: calc(100vh - 0.4rem);
    border-top: 1px solid #ddd;

    .tools {
      width: 2.4rem;
      background-color: #f8f8f8;
      border-right: 1px solid #ddd;

      .title {
        padding: 0.05rem 0.1rem;
        border-top: 1px solid #bbb;
        border-bottom: 1px solid #bbb;
        margin-top: 0.2rem;
      }

      .buttons {
        padding: 0.05rem 0;
        a {
          color: $color;
          line-height: 1.2;
          margin: 0 0.05rem;

          .iconfont {
            font-size: 0.36rem;
          }
        }
      }
    }

    .full {
      flex: 1;
      width: initial;
    }

    .props {
      width: 2.4rem;
      background-color: #f8f8f8;
      border-left: 1px solid #ddd;
    }
  }
}
